@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: #10141d;
    --text-color: #d1d5db;
    --point-color: #60a5fa;
    --sub-point-color: #2dd4bf;
    font-size: 16px;
}

* {
    font-family: 'Pretendard' !important;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Pretendard';
    line-height: 1.2;
}
.inner {
    width: 95%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.25rem 0;
    text-align: center;
}
